.btn {
    font-size: 2em;
    background: #3B666B;
    border-radius: 30px 10px;
    border-color: red;
    color: #DDECEE;
    padding: 10px 60px;
}

.btn:hover {
    background-color: #000000;
    border-color: yellowgreen;
}

.btn:active {
    background-color: #DDECEE;
    color: darkblue;
    border-color: black;
}